#ignore virtual environment
.venv/
#ignore pycache
__pycache__/
#ignore .env file
.env
#ignore .vscode settings
.vscode/
#ignore .idea settings
.idea/
#ignore .pytest_cache
.pytest_cache/
#ignore .mypy_cache
.mypy_cache/
#ignore .md files
*.md
#ignore .log files 
*.log
#ignore output files
*.csv
*.xlsx

data/
filtered_data/

SPP.py
test_lee.py
multisat_examples.py
gurobi.lic
check_excel.py
check_rows.py
filter_instances.py
run_folder.py
run_instances.py
summarize_instances.py
test_excel_append.py
test_timeout_fix.py